%tr{:id => "row_#{implementer.id}", :class => cycle("even", "odd")}
  %td= implementer.project.try(:name)
  %td= implementer.to.try(:name)
  %td= number_to_currency(implementer.budget, :unit => '', :separator => ".", :delimiter => ",")
  %td= number_to_currency(implementer.spend, :unit => '', :separator => ".", :delimiter => ",")
  %td
    / js event .edit_btn, .destroy_btn
    = link_to "Edit", edit_implementer_path(implementer), :class => "edit_btn"
    = link_to "Delete", delete_implementer_path(implementer), :class => "destroy_btn"
