- title "Implementers"

= render :partial => 'layouts/contents/sub_nav'
= render :partial => 'layouts/contents/page_help'
= render :partial => 'layouts/contents/side_bar'
= render :partial => 'layouts/contents/comments'

/ js event: #resources, .implementers
#resources.implementers

  %h2 Implementers
  %ul.actions
    / js event: .new_btn, .enabled
    %li= link_to "Create new", new_implementer_path, :class => "new_btn enabled"
    / js event: .search_btn, .enabled
    %li= link_to "Search", search_implementers_path, :class => "search_btn enabled"

  / js event: #placer
  #placer

  = render 'table', :implementers => @implementers

  #total
    = "#{@implementers.count} Found"

  = link_to "Next step", activities_path, :class => "next right"
