/ js event: .form_box, .new_form, .edit_form
%div{:class => "form_box #{(project.new_record? ? 'new_form' : 'edit_form')}"}
  / js event: .cancel_btn
  = link_to "Close", projects_path, :class => "cancel_btn close"
  - semantic_form_for project, :html => {:multipart => true} do |f|
    = f.semantic_errors :state
    - f.inputs do
      - f.inputs "Basic", :id => "basic", :class => "collapsible" do
        = f.input :name, :label => 'Name'
        = f.input :description, :label => 'Description', :required => false
        = f.input :start_date, :label => 'Start date', :as => :string, :input_html => {:class => "date_picker"}
        = f.input :end_date, :label => 'End date', :as => :string, :input_html => {:class => "date_picker"}
        = f.input :currency, :label => 'Currency (if different)', :required => false
        = f.input :locations, :label => 'Districts Worked In ', :as => :check_boxes, :required => false
      - f.inputs "Planned Expenditure", :id => "planned_expenditure", :class => "collapsible" do
        = f.input :entire_budget, :label => 'Total Project Budget', :required => false
        = f.input :budget, :label => 'Total Budget GOR FY 10-11', :required => false
      - f.inputs "Past Expenditure", :id => "past_expenditure", :class => "collapsible" do
        = f.input :spend, :label => 'Total Spend GOR FY 09-10', :required => false
        = f.input :spend_q4_prev, :label => 'Spend in your FY 08-09 Q4', :required => false
        = f.input :spend_q1, :label => 'Spend in Your FY 09-10 Q1', :required => false
        = f.input :spend_q2, :label => 'Spend in Your FY 09-10 Q2', :required => false
        = f.input :spend_q3, :label => 'Spend in Your FY 09-10 Q3', :required => false
        = f.input :spend_q4, :label => 'Spend in Your FY 09-10 Q4', :required => false
      - f.buttons do
        / js event: .cancel_btn
        = link_to "Cancel", projects_path, :class => "cancel_btn"
        / js event: .submit_btn
        = f.commit_button :label => (project.new_record? ? "Create project" : "Update project"), :button_html => { :class => "submit_btn" }
