%tr{:id => "row_#{project.id}", :"data-object" => "project", :"data-url" => "/projects/#{project.id}", :class => cycle("even", "odd")}
  %td= project.try(:organization)
  %td{:class => "rest_in_place", :"data-attribute" => "name" }= project.name
  %td{:class => "rest_in_place", :"data-attribute" => "description" }= project.description
  %td= number_to_currency(project.budget, :unit => '', :separator => ".", :delimiter => ",")
  %td= number_to_currency(project.spend, :unit => '', :separator => ".", :delimiter => ",")
  %td
    / js event .edit_btn, .destroy_btn
    = link_to "Edit", edit_project_path(project), :class => "edit_btn"
    = link_to "Delete", delete_project_path(project), :class => "destroy_btn"
