= render :partial => 'layouts/contents/sub_nav'
= render :partial => 'layouts/contents/page_help'
= render :partial => 'layouts/contents/side_bar'
= render :partial => 'layouts/contents/comments'

/ js event: #resources, .projects
#resources.projects

  %h2 Projects
  %ul.actions
    / js event: .new_btn, .enabled
    %li= link_to "Create new", new_project_path, :class => "new_btn enabled"
    / js event: .search_btn, .enabled
    %li= link_to "Search", search_projects_path, :class => "search_btn enabled"

  / js event: #placer
  #placer

  = render 'table', :projects => @projects

  #total
    = "#{@projects.count} Found"

  = link_to "Next step", funding_sources_data_entry_path, :class => "next right"
