= render :partial => 'layouts/contents/sub_nav'
= render :partial => 'layouts/contents/page_help'
= render :partial => 'layouts/contents/side_bar'
= render :partial => 'layouts/contents/comments'

/ js event: #resources_div, .projects
#resources_div.projects

  %h2 Projects
  .actions
    / js event: .new_btn
    = link_to "Create new", new_project_path, :class => "new_btn"

  / js event: #resource_new
  #resource_new

  / js event: table#main_table
  %table#main_table
    %thead
      %tr
        %th Organization
        %th Name
        %th Description
        %th Total Budget GOR FY 10-11
        %th Total Spend GOR FY 09-10
        %th Manage
    / js event: table#main_table tbody
    %tbody
      = render :partial => 'row', :collection => @projects, :as => :project
