- title "Reports"

%h2 Reports

%h3=  link_to "Activities By District", admin_report_path('ActivitiesByDistrict')
%h3=  link_to "Activities By District with Sub-Activities", admin_report_path('ActivitiesByDistrictSubActivities')
%h3=  link_to "Activities By Budget Coding (beta)", admin_report_path('ActivitiesByBudgetCoding')
%h3=  link_to "Activities By Budget Cost Categorization (beta)", admin_report_path('ActivitiesByBudgetCostCat')
%h3=  link_to "Activities By Expenditure Coding (beta)", admin_report_path('ActivitiesByExpenditureCoding')
%h3=  link_to "Activities By Expenditure Cost Categorization (beta)", admin_report_path('ActivitiesByExpenditureCostCat')
%h3=  link_to "Activities Report NEW", admin_report_path('ActivityReport')
%h3=  link_to "Activities by District NEW", admin_report_path('ActivitiesByDistrictNew')
%h3=  link_to "Activities by Budget Coding NEW", admin_report_path('ActivitiesByBudgetCodingNew')
%h3=  link_to "Activities - One Row Per District Coded in Classifications + District Classifications Summary per Activity", admin_report_path('ActivitiesByHssp2')
%h3=  link_to "Users By Organization", admin_report_path('UsersByOrganization')

