%li
  %a{:id => "code_#{code.id}", :class => "code_popup", :href => policy_maker_target_report_path(code)}= code.short_display
  .right
    - target = (@target_amounts[code.id] / @max * 100).round
    - actual = (@actual_budgeted_amounts[code.id] / @max * 100).round
    = render 'overlay_bar', :target => target, :actual => actual
    = link_to "?", "#", :title => "Target: #{target}%, Actual: #{actual}%", :class => "tooltip"

  - unless code.leaf?
    %ul{:id => code.external_id}
      - code.children.each do |child|
        = render 'code_row', :code => child
