%li
  = code.short_display
  = link_to "?", "#", :title => code.description, :class => "tooltip" if code.description
  = code.target_amount
  = code.code_assignments.with_type('CodingBudget').sum(:cached_amount)
  -#= render 'progress', :progress => 50

  - unless code.leaf?
    %ul{:id => code.external_id}
      - code.children.each do |child|
        = render 'code_row', :code => child
