#sub-nav
  %ul
    %li{ :class => (controller.controller_name == "data_responses" && controller.action_name != "review" ? "active" : '') }
      = link_to 'Configure', start_data_response_path(current_user.current_data_response)

    %li{ :class => (controller.controller_name == "projects" ? "active" : '') }
      = link_to 'Projects', projects_path

    %li{ :class => (controller.controller_name == "funding_sources" ? "active" : '') }
      = link_to 'Funding Sources', funding_sources_path

    %li{ :class => (controller.controller_name == "implementers" ? "active" : '') }
      = link_to 'Implementers', implementers_path

    %li{ :class => (controller.controller_name == "activities" ? "active" : '') }
      = link_to 'Activities', activities_path

    %li{ :class => (["classifications", "code_assignments"].include?(controller.controller_name) ? "active" : '') }
      = link_to 'Classifications', classifications_path

    %li{ :class => (controller.controller_name == "other_costs" ? "active" : '') }
      = link_to 'Other Costs', other_costs_path

    %li{ :class => (controller.controller_name == "data_responses" && controller.action_name == "review" ? "active" : '') }
      = link_to 'Review & Submit', review_data_response_path(current_user.current_data_response)
